.ul {
  grid-column: bleedstart / bleedend;
  padding: 0;

  li {
    margin: 0;
    box-shadow: var(--border-b) inset var(--foreground-border);
    color: var(--foreground);
    grid-column: bleedstart / bleedend;
    &:first-child {
      box-shadow: none;
    }
    &:has(.wrapper:hover) .thumbnail {
      background: color-mix(in srgb, currentColor, var(--foreground) 8%);
    }
  }
  li:is(.theme) {
    .thumbnail {
      background: var(--background);
      color: var(--background);
    }
  }
  li:is(.featured) {
    background: var(--background);
    color: var(--background);
    .thumbnail {
      background: var(--background-accent);
      color: var(--background-accent);
    }
  }

  li a {
    text-decoration: none;
    list-style: none;
  }

  li.featured + li {
    margin-top: 4em;
    box-shadow: none;
  }

  li:has(+ li.featured) {
    margin-bottom: 4em;
  }
}

.heading {
  margin-bottom: 1em;
  min-height: 2em;
}

.wrapper {
  padding: 2rem 0;
  gap: 2em 0;
}

.meta {
  grid-column: start / end;
  gap: 0.5em 0;
  @media (--lg) {
    grid-column: 6 / end;
  }
}

.date {
  display: inline-flex;
  margin-top: 1em;
  color: var(--foreground-accent);
}

.thumbnail {
  transition: background ease 0.2s;
  background: var(--background-accent);
  color: var(--background-accent);
  padding: 1em;
  aspect-ratio: 1;
  grid-column: start / 8;
  svg,
  img {
    /* box-shadow: var(--shadow); */
    object-position: center center;
    object-fit: cover;
    width: 100%;
  }

  @media (--sm) {
    grid-column: start / 6;
  }

  @media (--lg) {
    padding: 1.5rem;
    grid-column: start / 4;
  }
}

.header {
  color: var(--foreground);
  grid-column: start / end;
  &::first-letter {
    text-transform: capitalize;
  }
  @media (--sm) {
    grid-column: 1 / 10;
  }
  @media (--lg) {
    grid-column: 1 / 8;
  }
}

.excerpt {
  grid-column: start / end;
  @media (--sm) {
    grid-column: 12 / end;
  }
  @media (--lg) {
    grid-column: 9 / end;
  }
}

.featured {
  .wrapper {
    padding: 0em 0 2em 0;
    grid-column: bleedstart / bleedend;
    @media (--sm) {
      grid-column: start / end;
      padding: 6rem 0;
    }
  }

  .meta {
    grid-column: start / end;
    gap: 1em 0;
    @media (--sm) {
      grid-column: 12 / end;
    }

    @media (--lg) {
      grid-column: 14 / end;
    }
  }

  .thumbnail {
    grid-column: bleedstart / bleedend;
    grid-template-columns: subgrid;
    display: grid;
    aspect-ratio: auto;
    width: 100%;
    padding: 3em;
    svg,
    img {
      grid-column: start / end;
      box-shadow: var(--shadow);
      width: 50%;
      place-self: center;
      @media (--sm) {
        width: 100%;
      }
    }
    @media (--sm) {
      grid-column: 1 / 10;
    }
  }
  .header {
    grid-column: 1 / end;

    width: 100%;
  }
  .excerpt {
    grid-column: 1 / end;
  }
}
